body {
  text-align: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.input {
  text-align: center;
  color: red;
  border-style: solid;
  border-color: green;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.gams {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: cursive;
}
.gams:hover {
  background-color: red;
}